@page "/"

<PageTitle>Inicio</PageTitle>

<div class="container mt-5">
    <h1 class="text-center">Parcial Programación de Computadora 3</h1>

    <div class="text-center mt-4">
        <p class="lead">Bienvenido a la Aplicación de Becarios</p>
    </div>

    <div class="text-center mt-4">
        <!-- Agrega la etiqueta img con la URL directa de la imagen de la universidad -->
        <img src="https://checkout.ujmd.edu.sv/img/logo_ujmd2.jpg" alt="Logo de la Universidad" class="img-fluid" />
    </div>

    <div class="mt-4">
        <h2>Alumnos:</h2>

        <ul class="list-group">
            <li class="list-group-item">
                <strong>Nombre:</strong> Pedro Armando Navarrete<br />
                <strong>Carne:</strong> 202102186
            </li>

            <li class="list-group-item">
                <strong>Nombre:</strong> Benjamín Sebastián Torres<br />
                <strong>Carne:</strong> 202102202
            </li>

            <li class="list-group-item">
                <strong>Nombre:</strong> Néstor Yohalmo Martell<br />
                <strong>Carne:</strong> 201602547
            </li>
        </ul>
    </div>
</div>
